.root {
    -fx-background-image: url("background.jpg");
}

.grid {
    -fx-border-width: 1pt;
    -fx-border-color: black;
}

.cell {
    -fx-border-width: 1pt;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-max-height: infinity;
    -fx-max-width: infinity;
}

.stat {
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-family: Palatino;
    -fx-font-size: 15px;
    -fx-text-fill: rgb(110, 80, 30);
    -fx-border-width: 0;
    -fx-min-width: 120;
    -fx-min-height: 40;
}

.button {
    -fx-background-radius: 20;
}

.tic-tac-toe-button:hover {
    -fx-background-color: linear-gradient(rgb(240, 190, 50), rgb(220, 160, 100));
}

.tic-tac-toe-button:pressed {
    -fx-background-color: linear-gradient(rgb(220, 160, 100), rgb(240, 190, 50));
}