.centered {
    -fx-alignment: CENTER;
}

@font-face {
    -fx-font-family: 'Permanent Marker';
    /*src: url('fonts/PermanentMarker-Regular.ttf');*/
}

.root {
    -fx-background-image: url("background.jpg");
}

.cross {
    -fx-font-size: 30pt;
    -fx-font-family: 'Permanent Marker', cursive;
    -fx-text-fill: indianred;
    -fx-opacity: 1;
}

.nought {
    -fx-font-size: 30pt;
    -fx-font-family: 'Permanent Marker', cursive;
    -fx-text-fill: cornflowerblue;
    -fx-opacity: 1;
}

.grid {
    -fx-border-radius: 1pt;
    -fx-border-color: black;
}

.cell {
    -fx-border-width: 1pt;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-alignment: center;
}